body {
    margin: 0;
    color: var(--color-black);
    background-color: var(--color-white);
}
button {
    cursor: pointer;
}
* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

html {
    font-family: sans-serif;
}

:root {
    --color-black: #000;
    --color-white: #fff;
}

button {
    border-radius: 0;
    padding: .5rem;
    &:disabled {
        cursor: default;
    }
}
